body{ /*background: url(../images/banner.jpg) no-repeat center; background-size: 100% 100%;*/ background-color: #ddd; font-family: 'Microsoft yahei','Helvetica Neue',Helvetica,Arial,sans-serif}
#container{ width: 1300px; margin: 64px auto 100px; }
.live-wrapper,.shopping-wrapper,.msg-list-wrapper li{display: flex; display: -webkit-flex;display: -moz-flex; display: -ms-flex; margin-bottom: 10px;}
.product-box,.followus,.video-box,.discuss-box{ background-color: #fff;}

.video-box,.product-box{ width: 76%; margin-right: 10px; }
.video-box,.discuss-box{ height: 715px;}
.followus,.discuss-box{ width: calc(100% - 76% - 10px);width: -webkit-calc(100% - 76% - 10px);width: -moz-calc(100% - 76% - 10px);width: -ms-calc(100% - 76% - 10px);}
.discuss-box .tit{ height: 36px; line-height: 36px; color: #6ea5ed; text-indent: 12px; box-shadow: 0 4px 6px rgba(110,165,237,.15); }
.msg-list-wrapper{padding:0 12px; height: 582px; overflow-y:auto;}
.msg-list-wrapper li{ padding-top: 14px; padding-bottom: 24px; color: #000;border-bottom: 1px dashed #bbb; font-size: 12px;}
.msg-list-wrapper .headimg{ width: 30px; height: 30px; overflow: hidden; }
.msg-list-wrapper .headimg img{ width: 100%;}
.message-body{ margin-left: 10px; width: calc(100% - 30px)}
.message-body .nickname{ color: #6d6d6d; margin-bottom: 8px; }
.followus{ height: 340px;}
.followus .tit{ padding: 16px 0 16px 24px; border-bottom: 2px solid #ddd;}
.followus .tit span.logo{ width: 32px; height: 32px;  background: url(../images/logo02.png) no-repeat left top; display: inline-block; vertical-align: -10px; margin-right: 12px;background-size: 100% auto;}
.followus .qrcode{ text-align: center; padding-top: 10px;}
.followus .qrcode img{ margin-top: 10px; margin-bottom: 20px; width: 176px;}
.tit-wrapper{ padding-left: 36px; padding-top: 20px; padding-right: 20px; padding-bottom: 30px;}
.tit-wrapper:after,.product-box .topbar:after,.product-pn:after{ content: ''; display: block; visibility: hidden; clear: both;}
.td .date{ color: #a2a2a2; font-size: 14px;margin-top: 3px;}
.customer-num{ color: #6aa2ed; margin-left: 10px;}
.abl .logo{ margin-right: 12px; width: 50px; height: 50px; overflow: hidden;}
.abl .logo img{ width: 100%;}
.abl .td{ width: 300px; font-size: 16px; margin-top: 4px; }
.bymobile{ color: #6aa2ed; text-align: center; font-size: 12px; cursor: pointer;}
.discuss-pannel{ background-color: #f9f9f9; overflow: hidden; padding-bottom: 6px;}
.ctrl-box{width: 90%; margin: 6px auto; }
#msg-input{ background-color: #f3f3f3; border: 0 none; outline: 0; resize: none; border-radius: 10px; display: block; width: 100%; margin-bottom: 6px;}
.wechatlogin{ width: 24px; height: 24px; background: url(../images/weixin.png) no-repeat left top; display: inline-block; vertical-align: middle; margin-top: 3px; margin-right: 10px;}
.cost{ height: 40px; font-size: 12px; line-height: 40px;position: absolute; right: 24px; top: 10px}
.btn-cost{ background-color: #ff2626;  border-radius: 15px; line-height: 30px; height: 30px; color: #fff;/* width: 70px; */}
.cost span{ color: #ff2626; font-size: 16px; margin: 0 5px;}
.product-box .topbar{ padding: 16px 0 16px 24px; border-bottom: 2px solid #ddd; position: relative;}
.product-list{ padding: 34px 64px 50px;}
.product-list .product-item{ width: 24%; font-size: 12px; background-color: #f5f5f5; padding-bottom: 10px; float: left; margin: 0 .5% 10px;}
.product-list .product-item .product-img{ width: 100%;}
.product-list img{  max-width: 100%;}
.product-pn .product-price{ color: #ef2323; font-size: 16px; display: inline-block; margin-top: 5px;}
.product-pn .choose-num{float: right; /*width: 70px; */margin-top: 1.5px;}
.product-pn .choose-num input{ width: 34px; vertical-align: top; border-left: 0; border-right: 0; border-top: 1px solid #ccc;border-bottom: 1px solid #ccc; height: 18px; line-height: 18px; text-align: center;}
.product-item .product-tit{ margin-bottom: 15px;}
.product-item .product-pn,.product-item .product-tit{ padding: 0 12px;  height: 32px;}
.product-box .topbar .tit{line-height: 32px;}
.live-video {height:calc(100% - 104px);}
.bymobile{ position: relative;z-index: 99}
        .bymobile .wim{ position: absolute; width: 140px; background-color: #fff;  height: 140px; padding: 16px; border: 1px solid #6aa2ed; left: calc( -50% - 24px); top: 58px; display: none;}
        .bymobile .wim img{ width: 100%;}
        .fl{ float: left;}
.fr{ float: right;}
.btn{ display: inline-block;  padding: 0 16px; cursor: pointer; font-size: 14px; border: 0; outline: 0;}
.btn-primary{ background-color: #6aa2ed; border-radius: 15px; line-height: 30px; height: 30px; color: #fff; width: 70px;}
.response{ width: 100%; max-width: 100%;}
.redpacket-f img{ vertical-align: middle;}